In [1]:
import os
import pickle
import pandas as pd

In [2]:
df = pd.read_csv('../data/eedi/combined_eedi_data.csv')
df.head()

/var/folders/6f/f2xtt03532968xxs43107mwm0000gn/T/ipykernel_14531/1431785155.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/eedi/combined_eedi_data.csv')

,QuestionId,UserId,AnswerId,IsCorrect,CorrectAnswer,AnswerValue,Gender,DateOfBirth,PremiumPupil,DateAnswered,Confidence,GroupId,QuizId,SchemeOfWorkId
0,16997.0,65967.0,12453206.0,0.0,4.0,2.0,1.0,2002-11-01 00:00:00.000,0.0,2019-04-24 13:42:00.000,NaN,5026,15391,8408.0
1,21040.0,65967.0,14362280.0,1.0,2.0,2.0,1.0,2002-11-01 00:00:00.000,0.0,2019-02-06 14:56:00.000,NaN,5026,6722,8408.0
2,2355.0,65967.0,16007479.0,1.0,4.0,4.0,1.0,2002-11-01 00:00:00.000,0.0,2019-01-09 14:56:00.000,NaN,5026,7207,8399.0
3,12938.0,65967.0,568874.0,1.0,4.0,4.0,1.0,2002-11-01 00:00:00.000,0.0,2019-04-24 13:36:00.000,NaN,5026,16161,8400.0
4,10732.0,65967.0,14081012.0,1.0,3.0,3.0,1.0,2002-11-01 00:00:00.000,0.0,2019-02-06 14:42:00.000,NaN,5026,6722,8408.0

In [3]:
df = df.drop(columns=['Confidence'])
df.columns

Index(['QuestionId', 'UserId', 'AnswerId', 'IsCorrect', 'CorrectAnswer',
       'AnswerValue', 'Gender', 'DateOfBirth', 'PremiumPupil', 'DateAnswered',
       'GroupId', 'QuizId', 'SchemeOfWorkId'],
      dtype='object')

In [4]:
print(len(df))
df = df.dropna()
print(len(df))

19834820
4181925

In [9]:
df[['UserId', 'Gender']].drop_duplicates()['Gender'].value_counts()

Gender
1.0    10843
2.0    10398
0.0        2
Name: count, dtype: int64

In [11]:
df['labels'] = df['IsCorrect']

# Drop unnecessary columns
#df.drop(['AnswerValue'], axis=1, inplace=True)
df.drop(['IsCorrect'], axis=1, inplace=True)

# Define feature columns
feature_columns = ['QuestionId', 'UserId', 'AnswerId',
       'Gender', 'DateAnswered',]

# Create data file using column names
data_file = {'data':{}, 'available_demographics': ['Gender']}
for i_row, row in df.iterrows():
    data_file['data'][i_row] = {
        'learner_id': int(row['UserId']),
        'features': row[feature_columns].values,
        'gender': int(row['Gender']),
        'binary_label': int(row['labels'])
    }

In [12]:
# Save data file
with open('../data/eedi/data_dictionary.pkl', 'wb') as fp:
    pickle.dump(data_file, fp)